# Base de Datos PostgreSQL
DATABASE_URL="postgresql://pharmadix_user:pharmadix_password@localhost:5432/pharmadix_times"

# JWT - CAMBIAR EN PRODUCCIÓN
JWT_SECRET="pharmadix_super_secret_key_change_in_production_2024"

# Servidor
PORT=3000
HOST=0.0.0.0
